.DS_Store

# Xcode
DerivedData/
build/
*.xcuserstate
**/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# Swift Package Manager
.build/

# CocoaPods / Carthage
Pods/
Carthage/Build/

# Local environment
.env
.env.*
